<h1>My tasks</h1>

<% @tasks.each do |task| %>
  <p>
    <input type="checkbox">
    <%= task.title %>
    <%= link_to "View details", show_path(task) %>
    <%= link_to "Delete", show_path(task),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
  </p>
<% end %>

<%= link_to "Add a task", tasks_new_path %>

