// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  width: 900px;
  text-align: center;
  margin: auto;
  background: #F6F5F5;
  padding: 20px;
  border-radius: 5px;
}
